<section class="w-full bg-black text-gray-200 k h-full relative top-14 md:top-0">
    <div class="px-5 lg:px-36 py-4">
        <div class="flex">
            <div class="text-white font-semibold px-1 py-1 bg-red-600 mr-4">
                <p class="text-base text-center font-black">BT</p>
                <p class="relative bottom-1 font-normal" style="font-size: 8px;">Indonesia</p>
            </div>
            <h2 class="relative top-2 font-semibold">Berita Terbaru</h2>
        </div>
    </div>
    <nav class="border-b border-b-gray-200"></nav>
    <div class="lg:flex lg:px-36 lg:py-5 relative bottom-6">
            <p class="hidden lg:block">Menyajikan berita terhangat langsung</p>
            <div class="px-5 lg:px-20">
                <h2 class="text-white font-semibold hidden lg:block">TELUSURI</h2>
                    <ul class="grid grid-cols-2 lg:grid-cols-3 gap-6 mt-5 text-sm">
                        <li><a  href="/bisnis" class="pr-4 hover:text-red-500 focus:text-red-500 duration-1000 hover:duration-1000">Bisnis</a></li>
                        <li><a  href="/olahraga" class="pr-4 hover:text-red-500 focus:text-red-500 duration-1000 hover:duration-1000">Olahraga</a></li>
                        <li><a  href="/teknologi" class="pr-4 hover:text-red-500 focus:text-red-500 duration-1000 hover:duration-1000">Teknologi</a></li>
                        <li><a  href="/entertainment" id="entertainment" class="hover:text-red-500 focus:text-red-500 pr-4 duration-1000 hover:duration-1000">Entertainment</a></li>
                        <li><a  href="/kesehatan" class="hover:text-red-500 focus:text-red-500 pr-4 duration-1000 hover:duration-1000">Kesehatan</a></li>
                        <li><a  href="/sains" class="hover:text-red-500 focus:text-red-500 duration-1000 hover:duration-1000">Sains</a></li>
                    </ul>
            </div>
        </div>
    </div>
</section> 

<script src="../../public/js/main.js"></script>
<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>