<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berita</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <style>
            .form-control{
                border-color: red;
            }
        </style>
</head>

<body class="bg-white">

    <section class="bg-black w-full fixed px-5 h-12 lg:h-10 z-20">
        <div class="flex md:mx-16">
           <div class="text-white font-semibold py-4 md:py-2 px-2 bg-red-600 mr-4">
            <p class="text-base text-center relative bottom-1 md:bottom-0">Berita</p>
            <p class="text-xs relative bottom-1 md:bottom-0 hidden md:block">indonesia</p>
            </div>
            <div id="navbarSupportedContent">
                <ul class="text-white relative top-0 md:flex py-2 hidden">
                    <li><a  href="/" class="pr-4 hover:text-red-500 focus:text-red-500">Home</a></li>
                    <li><a  href="/bisnis" class="pr-4 hover:text-red-500 focus:text-red-500">Bisnis</a></li>
                    <li><a  href="/olahraga" class="pr-4 hover:text-red-500 focus:text-red-500">Olahraga</a></li>
                    <li><a  href="/teknologi" class="pr-4 hover:text-red-500 focus:text-red-500">Teknologi</a></li>
                    <li><a  href="/entertainment" id="entertainment" class="hover:text-red-500 focus:text-red-500 pr-4">Entertainment</a></li>
                    <li><a  href="/kesehatan" class="hover:text-red-500 focus:text-red-500 pr-4">Kesehatan</a></li>
                    <li><a  href="/sains" class="hover:text-red-500 focus:text-red-500">Sains</a></li>
                </ul>
                <ul class="text-white absolute top-12 md:hidden py-2 flex w-full left-0 bg-gray-900 px-4 overflow-x-scroll">
                    <li><a  href="/" class="pr-4 focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Home</a></li>
                    <li><a  href="/bisnis" class="pr-4 focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Bisnis</a></li>
                    <li><a  href="/olahraga" class="pr-4 focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Olahraga</a></li>
                    <li><a  href="/teknologi" class="pr-4 focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Teknologi</a></li>
                    <li><a  href="/entertainment" class="focus:text-red-500 pr-4" style="-webkit-tap-highlight-color: transparent;">Entertainment</a></li>
                    <li><a  href="/kesehatan" class="focus:text-red-500 pr-4" style="-webkit-tap-highlight-color: transparent;">Kesehatan</a></li>
                    <li><a  href="/sains" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Sains</a></li>
                </ul>
            </div>
            <div x-data="{ dropdownOpen: false }" class="flex flex-1 justify-end">
                <button @click="dropdownOpen = !dropdownOpen"  style="-webkit-tap-highlight-color: transparent;" class="z-20 absolute right-5 md:right-20 md:w-max">
                    <svg x-show="!dropdownOpen" class="w-6 h-6 text-white my-2 mr-4 hover:text-red-600 hidden md:block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                    <svg  x-show="dropdownOpen" class="w-7 h-7 text-white my-1 mr-4 hover:text-red-600 hidden md:block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                    <svg x-show="!dropdownOpen" class="w-7 h-7 text-white block md:hidden relative top-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                    <svg  x-show="dropdownOpen" class="w-7 h-7 text-white block md:hidden relative top-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
              
             
              
                <div x-show="dropdownOpen" class="absolute left-0 mt-12 md:mt-0 w-full z-10 bg-black md:bg-transparent h-screen">
                    <form action="/search" method="POST" class="flex mx-5 md:mx-40 mt-2 md:mt-0">
                        <svg class="w-5 h-5 absolute left-6 mt-2 text-gray-400 md:hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                        <input type="search" name="search" aria-label="search" class="w-full focus:outline-none pl-6 bg-white rounded-sm shadow-2xl h-8 md:h-10" placeholder="cari berita">
                        <nav class="flex flex-1 justify-end">
                        <button type="submit" style="-webkit-tap-highlight-color: transparent;" class="border border-red-600 bg-red-600 hover:bg-red-700 text-white h-8 md:h-10 px-6 rounded-sm shadow-2xl">Search</button>
                        </nav>  
                    </form>
                    <ul x-transition:enter="transform transition-transform duration-300" x-transition:enter-start="translate-x-full" x-transition:enter-end="-translate-x-0" x-transition:leave="transform transition-transform duration-300" x-transition:leave-start="-translate-x-0" x-transition:leave-end="translate-x-full" x-show="dropdownOpen" @click="dropdownOpen = false" class="text-gray-300 p-5 block md:hidden relative bottom-5">
                        <li x-show.transition.duration.600ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Home</a></li>
                        <li x-show.transition.duration.700ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/bisnis" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Bisnis</a></li>
                        <li x-show.transition.duration.800ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/olahraga" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Olahraga</a></li>
                        <li x-show.transition.duration.900ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/teknologi" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Teknologi</a></li>
                        <li x-show.transition.duration.1000ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/entertainment" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Entertainment</a></li>
                        <li x-show.transition.duration.1100ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/kesehatan" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Kesehatan</a></li>
                        <li x-show.transition.duration.1200ms="dropdownOpen" class="py-2 border-b border-gray-900 w-full"><a  href="/sains" class="focus:text-red-500" style="-webkit-tap-highlight-color: transparent;">Sains</a></li>
                    </ul>
                </div>
              </div>
        </div>
    </section>


    <div class="py-5 md:py-0 md:pb-20">
        <div class="grid grid-cols-1 h-full lg:mx-36">

            <% articles.forEach(function(article,index){ %>

                <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                    <% } else{ %>
                        <a href="<%- article.url %>" target="_blank" style="-webkit-tap-highlight-color: transparent;" class="news-box md:Hover-effect h-36 md:h-52 my-0 md:my-5 relative top-16 flex md:hover:text-red-500 border-b border-gray-200">

                            <img class="w-20 h-20 md:h-40 md:w-72" src="<%- article.urlToImage %>" alt="Image">
                            <div class="block md:mx-6 mx-2">
                                <h3 class="text-sm md:text-xl font-semibold w-full">
                                    <%- article.title %>
                                </h3>
                                <p class="text-xs md:text-base"><span class="" ><%- new Date(article.publishedAt.slice(0,10)).toDateString() %> </span></p>
                            </div>  
                            <br>

                        </a>
                        <% } %>
                        <% }) %>
        </div>
    </div>

     <!-- Footer -->
     <section class="w-full bg-black h-10 relative top-14 md:top-0">
        <nav class="flex flex-1 justify-center">
            <p class="text-white p-1 font-semibold text-lg">Copyright 2022</p>
        </nav>
    </section> 
    
<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</body>

</html>